.exercise__description{
    display: inline;
    width: 80%
}

.exercise__item{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
    border-radius: 10px;
}

.exercise__list > *:nth-child(odd){
    /*background-color: #c78585;*/
}



.exercise__item > *{
    margin: 2px 5px;
}

.result{
    width: 20px;
    height: 20px;
    background-size: contain;
}

.result--right{
    background-image: url("images/result-right.svg");
}

.result--wrong{
    background-image: url("images/result-wrong.svg");
}

.show-button{
    position: relative;
}

.answer{
    position: absolute;
    background-color: greenyellow;
    padding: 4px 8px;
    border-radius: 3px;
    top: -3.5rem;
    display: none;
}

.answer--hide{
    display: none;
}

.answer--show{
    display: block;
}

.thumbs{
    width: 20px;
    height: 20px;
    background-size: contain;
}

.thumbs--example {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-image: url(images/thumbs-up.svg);
}

.thumbs--up{
    background-image: url(images/thumbs-up.svg);
}

.thumbs--down{
    background-image: url(images/thumbs-down.svg);
}

.question--mark{
    background-image: url(images/question-mark.svg);
}