.exercises-section {
    display: flex;
}

.exercise__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: var(--div-width);
    border-radius: 20px;
    background-color: var(--white);
    border-width: 0;
    color: var(--red);
    text-shadow: 0 0 2px #040404;
    cursor: pointer;
    padding: var(--div-padding);
}

.exercise__image{
    border-radius: 100%;
    --size: calc(var(--div-width) - var(--div-padding));
    background-color: white;
    background-size: cover;
    width: var(--size);
    height: var(--size);
}

.exercise__image--countries{
    background-image: url("images/flag-american.jpg");
}

.exercise__name{
    font-size: 1.35rem;
    margin: 10px 0;
}

.exercise__vocabulary{
    margin: 5px;
}

.exercise__grammar{
    margin: 5px;
}