.exercises-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exercise__div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: var(--div-width);
    border-radius: 20px;
    background-color: var(--white);
    border-width: 0;
    color: var(--red);
    text-shadow: 0 0 2px #040404;
    cursor: pointer;
    padding: var(--div-padding);
    margin: 1rem 1rem;
    height: 300px;
    transition: 0.3s;
}

.exercise__div:hover{ transform: scale(1.025); }

.exercise__image{
    border-radius: 100%;
    --size: calc(var(--div-width) - var(--div-padding));
    background-color: white;
    background-size: cover;
    width: var(--size);
    height: var(--size);
}

.exercise__image--countries{
    background-image: url("images/flag-american.jpg");
}

.exercise__image--cities{
    background-image: url("images/city-skyline.jpg");
}

.exercise__image--painting{
    background-image: url("images/painting.jpg");
}
.exercise__image--living-room{
    background-image: url("images/living-room.jpg");
}
.exercise__image--job-meeting{
    background-image: url("images/job-meeting.jpg");
}

.exercise__image--neighborhood{
    background-image: url("images/neighborhood.jpg");
}

.exercise__image--attic{
    background-image: url("images/attic.jpg");
}

.exercise__image--family{
    background-image: url("images/family.jpg");
}

.exercise__name{
    font-size: 1.35rem;
    margin: 10px 0;
    height: 2rem;
    vertical-align: middle;
}

.exercise__vocabulary{
    margin: 7.5px;
    height: 2rem;
    vertical-align: middle;
}

.exercise__grammar{
    margin: .7.5px;
    height: 2rem;
    vertical-align: middle;
}