:root{
    --header-background: #ffffff;
    --white: #eeeeee;
    --red: #be3131;
    --background: rgb(73, 82, 207);
    background-color: var(--background);
    

    --div-width: 160px;
    --div-padding: 15px;
}

body{
    margin: 0 1rem;
}

header{
    background-color: var(--header-background);
    margin: 15px auto;
    width: 40%;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.header__title{
    
}